---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="About Page">
  <h1 class="text-4xl font-bold mb-5">About Solo Dad</h1>
  <div class="">
    <div class="w-full md:w-1/2 mb-8 md:mb-0"></div>
    <div class="w-full">
      <h2 class="text-3xl font-extrabold text-gray-900 mb-4">Who Am I?</h2>
      <p class="text-gray-700 leading-relaxed mb-6">
        Hi there! I'm Rob, the heart and soul behind The Solo Dad Life and Tech.
        As a single dad who juggles life between parenting, a deep love for all
        things tech, and an undying passion for the great outdoors, I've learned
        to balance the chaos with a controller in one hand and a fishing rod in
        the other.
      </p>
      <h2 class="text-3xl font-extrabold text-gray-900 mb-4">
        The Dad Behind the Keyboard
      </h2>
      <p class="text-gray-700 leading-relaxed mb-6">
        Life as a solo dad is a rollercoaster of ups, downs, and unexpected
        turns. But amidst the daily hustle, I've found solace in technology. As
        an IT pro with a knack for web development and design, I've learned that
        the right tech can make life smoother, especially when you're playing
        both roles at home. I bring this expertise to you, sharing tips, tricks,
        and life hacks to make your tech work for you, not against you.
      </p>
      <h2 class="text-3xl font-extrabold text-gray-900 mb-4">Gamer at Heart</h2>
      <p class="text-gray-700 leading-relaxed mb-6">
        Now that my daughter is older, you can find me battling it out in the
        latest video games or diving into nostalgic classics. Gaming is more
        than a hobby; it's a way to unwind, connect, and sometimes, just to
        escape into a world of pixels and possibilities. I share my gaming
        adventures and reviews, hoping to connect with fellow gaming parents out
        there.
      </p>
      <h2 class="text-3xl font-extrabold text-gray-900 mb-4">
        Outdoorsman Adventures
      </h2>
      <p class="text-gray-700 leading-relaxed mb-6">
        There's nothing like the call of the wild to rejuvenate the soul.
        Whether it's hunting in the serene Michigan woods, fishing in the
        tranquil lakes, or riding four-wheelers through rugged trails, I'm all
        about embracing nature. These outdoor escapades are a reminder of life's
        simple pleasures and a chance for me to share my love for nature with my
        child.
      </p>

      <h2 class="text-3xl font-extrabold text-gray-900 mb-4">
        Join Our Journey
      </h2>
      <p class="text-gray-700 leading-relaxed mb-6">
        The Solo Dad Life and Tech isn't just a website; it's a community. It's
        for the tech-savvy parents, the gaming dads, the outdoor enthusiasts,
        and everyone in between. Join me as I navigate the chaotic, rewarding
        life of a single dad, sharing stories, advice, and experiences that
        bridge the gap between parenting and our digital world. Let's make this
        journey together!
      </p>
    </div>
  </div>
</MainLayout>
