---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../constants";

const { title = "Home Page" } = Astro.props;

interface Props {
  title?: string;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{SITE_TITLE} - {title}</title>
  </head>
  <body>
    <Navbar />
    <section class="container mx-auto max-w-screen-xl mt-10 px-8">
      <slot />
    </section>
    <Footer />
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
  </body>
</html>
